Console output: pluginsConsole output: no palmConsole output: [object Object]Console output: pageConsole output: 1200Console output: Welcome To Cathedral Dental Clinicarticle, aside, header, nav{ display: block; }
html{ font-family: sans-serif; }
body{ margin: 0px; }
h1{ font-size: 2em; margin: 0.67em 0px; }
 strong{ font-weight: bold; }
img{ border: 0px; }
svg:not(:root){ overflow: hidden; }
 input, select{ font-family: inherit; font-size: 100%; margin: 0px; }
 input{ line-height: normal; }
 select{ text-transform: none; }
*{ box-sizing: border-box; }
h1, h2, h3, p, ul{ margin: 0px; padding: 0px; }
img{ font-style: italic; }
 input, select, option{ cursor: pointer; }
 .menu--site::after, .menu--site__menu-list::after, .menu--services__menu-list::after, .page__content::after{ content: ''; display: table; clear: both; }
h1, h2, h3, ul, p{ margin-bottom: 1.4705882353rem; }
ul{ margin-left: 2.9411764706rem; }
html{ font-style: normal; font-variant: normal; font-weight: normal; font-size: 1.0625em; line-height: 1.4705882353; font-family: proxima-nova, sans-serif; overflow-y: scroll; min-height: 100%; }
h1{ font-size: 2.1176470588rem; line-height: 1.3888888889; }
h2{ font-size: 1.7647058824rem; line-height: 1.6666666667; }
h3, .header--master__strap{ font-size: 1.4117647059rem; line-height: 1.0416666667; }
 .header--master__tel, .home .header--master__tel{ font-size: 1.1764705882rem; line-height: 1.25; }
 .branding .branding__description, .title--widget{ font-size: 0.9411764706rem; line-height: 1.5625; }
 .form-contact--mobile label{ font-size: 0.8235294118rem; line-height: 1.7857142857; }
 .branding .branding__site-title{ font-size: 2.8235294118rem; line-height: 1.0416666667; }
img{ max-width: 100%; }
img[width], img[height]{ max-width: none; }
li > ul{ margin-bottom: 0px; }
.grid{ margin-left: -25px; list-style: none; margin-bottom: 0px; }
 .grid > *, .content__widget-area--below .widget-area > *{ display: inline-block; width: 100%; padding-left: 25px; vertical-align: top; }
 .menu--site, .menu--site__menu-list{ list-style: none; margin-left: 0px; }
 .menu--site__menu-list > li, .menu--site__menu-list > li > a{ display: inline-block; zoom: 1; }
 .menu--site nav > ul > li{ display: list-item; }
 .menu--site nav > ul > li > a{ display: block; }
 .menu--site__menu-list{ line-height: 1; letter-spacing: -0.31em; word-spacing: -0.43em; white-space: nowrap; }
 .menu--site__menu-list > li{ letter-spacing: normal; word-spacing: normal; }
 .menu--site__menu-list > li > a{ padding: 12.5px; }
 .menu--services__menu-list, .menu--services__menu-list > li{ border: 0px solid rgb(204, 204, 204); }
 .menu--services__menu-list{ list-style: none; margin-left: 0px; border-top-width: 1px; }
 .menu--services__menu-list > li{ border-bottom-width: 1px; padding: 12.5px; }
 .menu--services__menu-list{ border-left-width: 1px; }
 .menu--services__menu-list > li{ float: left; border-right-width: 1px; }
 .menu--services__menu-list > li{ width: 50%; }
 .navigation--main__menu, .content__single-page, .content__widget-area--main, .content__widget-area--below .widget-area__widget{ width: 100%; }
@media only screen and (max-width: 799px) and (min-width: 481px){
 .content__single-page, .content__widget-area--main, .content__widget-area--below .widget-area__widget{ width: 100%; }
}
@media only screen and (min-width: 800px){
 .content__widget-area--main, .content__widget-area--below .widget-area__widget{ width: 33.333%; }
 .content__single-page{ width: 66.666%; }
}
html{ font-style: normal; font-variant: normal; font-weight: normal; font-size: 0.95625em; line-height: 1.4705882353; font-family: proxima-nova, sans-serif; }
@media only screen and (min-width: 481px){
html{ font-style: normal; font-variant: normal; font-weight: normal; font-size: 1.0625em; line-height: 1.4705882353; font-family: proxima-nova, sans-serif; }
}
body{ font-size: 90%; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
@media only screen and (min-width: 481px){
body{ font-size: 100%; }
}
 .header--master, .navigation--main, .navigation--services, .content{ width: auto; margin-left: auto; margin-right: auto; }
@media only screen and (min-width: 800px){
 .header--master, .navigation--main, .navigation--services, .content{ max-width: 1024px; width: 100%; }
}
h1, h2, h3{ margin-bottom: 0.75em; }
a, a:link{ text-decoration: none; }
h1{ font-size: 1.4117647059rem; line-height: 1.3888888889; }
@media only screen and (max-width: 799px) and (min-width: 481px){
h1{ font-size: 1.628959276rem; line-height: 1.3888888889; }
}
@media only screen and (min-width: 800px){
h1{ font-size: 2.1176470588rem; line-height: 1.3888888889; }
}
h2{ font-size: 1.2605042017rem; line-height: 1.6666666667; }
@media only screen and (max-width: 799px) and (min-width: 481px){
h2{ font-size: 1.4705882353rem; line-height: 1.6666666667; }
}
@media only screen and (min-width: 800px){
h2{ font-size: 1.7647058824rem; line-height: 1.6666666667; }
}
h3, .header--master__strap{ font-size: 1.0859728507rem; line-height: 1.0416666667; }
@media only screen and (max-width: 799px) and (min-width: 481px){
h3, .header--master__strap{ font-size: 1.2834224599rem; line-height: 1.0416666667; }
}
@media only screen and (min-width: 800px){
h3, .header--master__strap{ font-size: 1.4117647059rem; line-height: 1.0416666667; }
}
 .header--master__tel, .home .header--master__tel{ font-size: 0.9803921569rem; line-height: 1.25; }
@media only screen and (min-width: 481px){
 .header--master__tel, .home .header--master__tel{ font-size: 1.1764705882rem; line-height: 1.25; }
}
 .branding .branding__description, .title--widget{ font-size: 0.8556149733rem; line-height: 1.5625; }
@media only screen and (min-width: 481px){
 .branding .branding__description, .title--widget{ font-size: 0.9411764706rem; line-height: 1.5625; }
}
 .form-contact--mobile label{ font-size: 0.8235294118rem; line-height: 1.7857142857; }
.grid{ font-size: 0px; }
.grid > *, .content__widget-area--below .widget-area > *{ font-size: 1rem; }
.grid > * > *, .content__widget-area--below .widget-area > * > *{ font-size: 1rem; }
@media only screen and (min-width: 481px){
.grid > * > *, .content__widget-area--below .widget-area > * > *{ font-size: 100%; }
}
.site{ background-color: rgb(255, 255, 255); color: rgb(77, 75, 74); background-position: initial initial; background-repeat: initial initial; }
.site__header--master{ padding: 0px; margin-bottom: 1.5rem; background-color: rgb(234, 236, 233); background-position: initial initial; background-repeat: initial initial; }
.site__navigation--main{ background-color: rgb(101, 3, 96); border-bottom-style: solid; border-bottom-width: 3px; border-bottom-color: rgb(139, 66, 135); background-position: initial initial; background-repeat: initial initial; }
.site__content{ padding: 25px 0px 0px; }
.site__tel{ display: block; text-decoration: none; background-color: rgb(234, 236, 233); color: rgb(101, 3, 96); text-align: center; padding-top: 0.75rem; padding-bottom: 0.75rem; background-position: initial initial; background-repeat: initial initial; }
@media only screen and (min-width: 800px){
.site__tel{ display: none; }
}
.site__tel .header--master__tel__call{ display: inline; height: 23px; position: relative; top: 5px; width: 19px; fill: #650360; }
 .header--master, .header--article{ display: block; }
.header--master{ padding: 0px; height: 170px; overflow: hidden; position: relative; display: none; }
.home .header--master{ height: 335px; display: block; }
@media only screen and (min-width: 800px){
.home .header--master{ height: 325px; }
}
.header--master__widget-area--banner .widget{ border-bottom-style: none; }
.header--master__banner-image{ right: -50px; top: -180px; position: absolute; max-width: 575px !important; }
.home .header--master__banner-image{ right: -175px; top: -10px; }
@media only screen and (min-width: 481px){
.header--master__banner-image{ right: 0px; top: -330px; max-width: 1024px !important; }
.home .header--master__banner-image{ top: -50px; right: 0px; }
}
@media only screen and (max-width: 799px) and (min-width: 481px){
.header--master__banner-image{ top: -255px; max-width: 800px !important; }
.home .header--master__banner-image{ top: -75px; right: -150px !important; }
}
.header--master__tel{ font-weight: 100; display: none; position: absolute; bottom: auto; left: auto; right: 0px; top: 1em; color: rgb(255, 255, 255); padding: 0.4em 0.75em; border: none; }
@media only screen and (min-width: 800px){
.header--master__tel{ display: block; }
}
.header--master__tel a{ text-decoration: none; color: rgb(255, 255, 255); letter-spacing: 1px; }
.header--master__tel a .icon{ margin-right: 0.3em; }
.header--master__tel .header--master__tel__call{ display: inline; height: 23px; position: relative; top: 3px; width: 19px; }
.header--master__strap{ line-height: 1.5em; font-weight: 100; position: absolute; z-index: 9999; color: rgb(101, 3, 96); text-shadow: rgba(0, 0, 0, 0.258824) 1px 2px 2px; top: 70px; left: 1em; }
.home .header--master__strap{ top: 190px; left: 1em; }
@media only screen and (max-width: 799px) and (min-width: 481px){
.header--master__strap{ font-size: 1.5em; line-height: 1.2em; top: 50px !important; right: 65% !important; left: auto !important; }
.home .header--master__strap{ font-size: 1.5em; left: auto; right: 70% !important; top: auto !important; bottom: 2em !important; }
}
@media only screen and (min-width: 800px){
.header--master__strap{ font-size: 2.2em; line-height: 1.2em; font-weight: 100; top: 0.5em; bottom: auto; right: auto; left: 0.5em; }
.home .header--master__strap{ top: 100px; right: 66%; left: auto; bottom: auto; }
.header--master__strap br{ display: none; }
.home .header--master__strap br{ display: block; }
}
@media (max-width: 1023px) and (min-width: 610px){
.header--master__strap{ top: 0.5em; bottom: auto; right: auto; left: 0.5em; }
.home .header--master__strap{ font-size: 2em; top: auto; left: auto; bottom: 0.5em; right: 66% !important; }
}
.header--article{ margin-bottom: 0px; }
.header__title{ margin-bottom: 1rem; }
.branding{ height: 70px; }
@media only screen and (min-width: 800px){
.branding{ height: 67px; }
}
.branding .branding__site-title{ margin-top: 0.6em; margin-bottom: 0.5em; font-weight: bold; line-height: 1.333em; color: rgb(101, 3, 96); }
.branding .branding__site-title a{ color: rgb(101, 3, 96); text-decoration: none; }
.branding .branding__description{ display: none; color: rgb(101, 3, 96); margin-bottom: 0px; font-weight: normal; }
 .navigation--main, .navigation--services{ display: block; }
.navigation--main{ position: relative; }
@media only screen and (min-width: 800px){
.menu--site__container{ float: right; }
}
.menu--site__menu-list{ word-spacing: 0px; margin-bottom: 0px; position: relative; z-index: 9999; }
.menu--site__menu-list a{ color: rgb(255, 255, 255); background-color: rgb(101, 3, 96); text-decoration: none !important; padding: 1em 0.8em !important; background-position: initial initial; background-repeat: initial initial; }
.menu--services{ border-top-style: solid; border-top-width: 1px; border-top-color: rgb(173, 162, 145); border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: rgb(173, 162, 145); padding-top: 1rem; padding-bottom: 1rem; }
.menu--services__menu-list{ font-size: 0.8em; margin: 0px auto; border: none; max-width: 320px; }
@media only screen and (max-width: 799px) and (min-width: 481px){
.menu--services__menu-list{ max-width: 100%; }
}
@media only screen and (min-width: 800px){
.menu--services__menu-list{ max-width: 80%; }
}
.menu--services__menu-list .menu-item{ text-align: center; padding: 0px; position: relative; border-width: 3px; border-color: rgb(255, 255, 255); }
@media only screen and (max-width: 799px) and (min-width: 481px){
.menu--services__menu-list .menu-item{ width: 25%; border-width: 6px; }
}
@media only screen and (min-width: 800px){
.menu--services__menu-list .menu-item{ width: 25%; border-width: 12px; }
.menu--services__menu-list .menu-item img{ border: 0px solid rgb(101, 3, 96); }
}
.menu--services__menu-list .menu-item img{ width: 100%; }
.menu--services__title{ position: absolute; bottom: 0px; color: rgb(255, 255, 255); width: 100%; left: 0px; display: block; padding: 0.5em; background-color: rgb(101, 3, 96); text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 0px; background-position: initial initial; background-repeat: initial initial; }
@media (max-width: 570px) and (min-width: 481px){
.menu--services__title{ font-size: 0.9em; padding: 0.5em 0px; }
}
@media only screen and (min-width: 800px){
.menu--services__title{ transition: background 0.3s ease; -webkit-transition: background 0.3s ease; }
}
.content{ max-width: 924px; }
.content__widget-area--main a{ transition: background 0.3s ease, border-bottom 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease; -webkit-transition: background 0.3s ease, border-bottom 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease; color: rgb(101, 3, 96); text-decoration: none; border: 1px solid rgb(255, 255, 255); background-color: rgba(178, 129, 175, 0.247059); }
@media only screen and (min-width: 800px){
.content__widget-area--below .widget{ height: 150px; }
}
 .menu--services img, .page img{ display: block; max-width: 100%; height: auto; overflow: hidden; }
body.home .page__header{ display: none; }
.page__content{ text-align: justify; padding-left: 1em; padding-right: 1em; }
@media only screen and (min-width: 800px){
.page__content{ padding-right: 0px; }
}
 .title--article, .title--widget{ text-decoration: none; margin-bottom: 0px; }
.title--article{ display: block; padding-left: 1rem; font-weight: 500; color: rgb(101, 3, 96); }
.title--widget{ font-weight: 300; text-transform: uppercase; color: rgb(77, 75, 74); background-color: rgb(255, 255, 255); padding: 12.5px 25px; letter-spacing: 0.1em; background-position: initial initial; background-repeat: initial initial; }
.widget-area{ display: block; }
.widget{ border-bottom-style: solid; border-bottom-width: 3px; border-bottom-color: rgb(255, 255, 255); margin-bottom: 3px; }
@media only screen and (min-width: 800px){
.widget{ margin-bottom: 25px; }
}
.widget__header{ position: relative; margin-bottom: 1em; }
.textwidget{ padding: 0px 25px 25px; }
 .navigation--main__menu .menu--site__menu-list ul{ background-color: rgb(178, 129, 175); z-index: 999; background-position: initial initial; background-repeat: initial initial; }
 .navigation--main__menu .menu--site__menu-list ul li a{ display: block; padding: 12.5px; }
.site-title{ display: block; line-height: 0; margin-left: 25px; }
@media (min-width: 1024px){
.site-title{ margin-left: 0px; }
}
.site-title__icon--mobile{ width: 164px; height: 53px; }
@media only screen and (min-width: 800px){
.site-title__icon--mobile{ display: none !important; }
}
.site-title__icon--desk{ width: 265px; height: 89px; display: none !important; }
@media only screen and (min-width: 800px){
.site-title__icon--desk{ display: block !important; }
}
 .form-contact--mobile, .form-contact--primary{ display: block; }
 .form-contact--mobile .widget, .form-contact--primary .widget{ background-color: rgb(178, 129, 175); padding-bottom: 1em; border-color: rgb(178, 129, 175); }
 .form-contact--mobile .title--widget, .form-contact--primary .title--widget{ background-color: rgb(101, 3, 96); color: rgb(255, 255, 255); }
 .form-contact--mobile label{ color: rgb(255, 255, 255); margin-bottom: 0.25em; }
 .form-contact--mobile .form-contact__list{ margin: 0px 0px 1em; }
 .form-contact--mobile .form-contact__list li{ list-style: none; margin-bottom: 0.5em; }
 .form-contact--mobile input, .form-contact--primary input, .form-contact--mobile textarea{ width: 100%; border: none; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; padding: 0.5em 1em; font-style: italic; font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; color: rgb(77, 75, 74); }
 .form-contact--mobile textarea{ padding: 0.5em; height: 100px; }
.form-contact--mobile{ margin-bottom: 1em; }
@media only screen and (min-width: 800px){
.form-contact--mobile{ display: none !important; }
}
.form-contact--primary{ display: none; }
@media only screen and (min-width: 800px){
.form-contact--primary{ display: block; }
}
.form-contact--primary .widget{ padding-bottom: 5px; }
.btn, .form-contact--mobile .form-contact__submit input{ display: block; width: 100%; height: 40px; line-height: 1; border: none; margin: 0px auto 0em; top: 0px; font-style: normal; font-family: proxima-nova, sans-serif; font-size: 18px; text-align: center; text-decoration: none; color: white; background-color: rgb(101, 3, 96); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(75, 2, 72) 0px 5px 0px, rgba(0, 0, 0, 0.4) 0px 5px 5px 1px, rgba(255, 255, 255, 0.2) 0px 0px 20px inset; text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px; transition: all 0.15s ease-in-out; -webkit-transition: all 0.15s ease-in-out; padding: 0px; }
.textwidget--book-online{ background-color: rgb(178, 129, 175); color: rgb(255, 255, 255); margin-bottom: 25px; }
@media only screen and (min-width: 800px){
.textwidget--book-online{ margin-bottom: 0px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }
}
.textwidget--book-online .widget{ padding-top: 1em; border-bottom-style: none; }
.icon{ fill: #ffffff; }
.menu--site nav{ clear: both; transition: all 0.5s; -webkit-transition: all 0.5s; overflow: hidden; max-height: 0px; }
@media only screen and (min-width: 800px){
.menu--site nav{ overflow: visible; max-height: none; }
}
.menu--site nav > ul{ border-top-width: 1px; border-top-style: solid; border-top-color: rgb(139, 66, 135); }
@media only screen and (min-width: 800px){
.menu--site nav > ul{ border-top-style: none; }
}
@media only screen and (min-width: 800px){
.menu--site nav > ul > .menu-item{ display: inline-block; }
}
.menu--site nav > ul > .menu-item a{ padding: 0.8em; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(139, 66, 135); }
@media only screen and (min-width: 800px){
.menu--site nav > ul > .menu-item a{ border-bottom-style: none; }
}
.menu--responsive-toggle__toggle{ position: absolute; float: right; display: block; padding: 0.75em 2.75em 0.75em 0.5em; margin: 0px 0px 0.5em; line-height: 1; text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(139, 66, 135); top: 1em; right: 0px; font-size: 1.14em; text-transform: uppercase; background-position: initial initial; background-repeat: initial initial; }
@media only screen and (min-width: 800px){
.menu--responsive-toggle__toggle{ display: none; }
}
@media only screen and (max-width: 799px) and (min-width: 481px){
.menu--responsive-toggle__toggle{ margin: 0px 0px 100px; font-size: 1em; }
}
.menu--responsive-toggle__toggle::after{ content: ''; width: 1.75em; border-bottom-style: solid; border-bottom-width: 0.1764705882em; border-bottom-color: rgb(255, 255, 255); border-top-style: solid; border-top-width: 0.1764705882em; border-top-color: rgb(255, 255, 255); position: absolute; height: 0.8823529412em; right: 0.5em; }
.menu--responsive-toggle__toggle::before{ content: ''; width: 1.75em; border-bottom-style: solid; border-bottom-width: 0.1764705882em; border-bottom-color: rgb(255, 255, 255); border-top-style: solid; border-top-width: 0.1764705882em; border-top-color: rgb(255, 255, 255); position: absolute; height: 0.8823529412em; right: 0.5em; margin-top: 0.3529411765em; }
 .menu--site__menu-list{ overflow: visible; }
 .menu--site__menu-list li{ position: relative; }
 .menu--site__menu-list li ul{ position: absolute; left: -99999px; display: none; top: 100%; margin-left: 0px; }
 .menu--site__menu-list li ul a{ white-space: nowrap; display: block; margin: 0px; padding: 0px; }
 .menu--site__menu-list li ul li{ display: block; }
.remodal, [data-remodal-id]{ visibility: hidden; }
.remodal-overlay{ position: fixed; z-index: 9999; top: -5000px; right: -5000px; bottom: -5000px; left: -5000px; display: none; }
.remodal-wrapper{ position: fixed; z-index: 10000; top: 0px; right: 0px; bottom: 0px; left: 0px; display: none; overflow: auto; text-align: center; }
.remodal-wrapper::after{ display: inline-block; height: 100%; margin-left: -0.05em; content: ''; }
.remodal-overlay, .remodal-wrapper{ -webkit-transform: translateZ(0px); }
.remodal{ position: relative; display: inline-block; }
.remodal select, .remodal textarea, .remodal input{ font-size: 16px; }
.remodal, .remodal *{ font-family: 'Exo 2', sans-serif; }
.remodal-bg{ transition: filter 0.2s ease-out; -webkit-transition: filter 0.2s ease-out; }
.remodal-overlay{ transition: opacity 0.2s ease-out; -webkit-transition: opacity 0.2s ease-out; opacity: 0; background-color: rgba(33, 36, 46, 0.6); background-position: initial initial; background-repeat: initial initial; }
.remodal{ font-size: 16px; box-sizing: border-box; width: 100%; min-height: 100%; padding: 35px; -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out; transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out; -webkit-transform: scale(0.95); opacity: 0; color: rgb(24, 42, 60); background-color: rgb(244, 244, 244); background-clip: padding-box; background-position: initial initial; background-repeat: initial initial; }
@media only screen and (max-width: 480px){
.remodal{ padding: 35px 0px; }
}
.remodal, .remodal-wrapper::after{ vertical-align: middle; }
.remodal-close{ position: absolute; top: 5px; left: 5px; width: 28px; height: 28px; transition: background 0.2s ease-out; -webkit-transition: background 0.2s ease-out; text-decoration: none; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 1px solid rgb(204, 204, 204); }
.remodal-close::after{ font-size: 50px; line-height: 46px; display: block; content: ˟; cursor: pointer; transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; text-decoration: none; color: rgb(62, 83, 104); font-family: arial, sans-serif !important; }
@media only screen and (min-width: 40.063em){
.remodal{ max-width: 700px; min-height: 0px; margin: 20px auto; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }
}