
%menu--responsive-toggle{


  nav {
    clear: both;
    @include vendor(transition, all 0.5s);
    overflow: hidden;
    max-height: 0;
    @include media-query(desk){
      overflow: visible;
      max-height:none;
    }
    &.active{
      max-height: 30em;
    }
    > ul{

      @extend .nav--stacked;
      border-top: 1px solid $brand-col-2--tint;
      @include media-query(desk){
        border-top: none;
      }
      > .menu-item{
        @include media-query(desk){
          display: inline-block;
        }
        a{
          padding: 0.8em;
          border-bottom: 1px solid $brand-col-2--tint;
          @include media-query(desk){
            border-bottom: none;
          }

        }
      }
    }
  }
}

.menu--responsive-toggle__toggle{
.menu--site__branding &{
  position: absolute;
  transform: translateY(-50%);
  right: $act-unit-s !important;
  top: $act-unit-l * 1.5;
}
  position: relative;
  display: block;
  padding: 0.75em 2.75em .75em .5em;
  line-height: 1;
  right: 0;
  text-decoration: none;
  color:#fff;
  background: transparent;
  top: 3em;

  right: 0;
  font-size: 1.14em;
  text-transform: none;
  margin: 1em 0 0;

  @include media-query(desk){
    margin: 0;
    display:none;
  }
  @include media-query(lap){
    font-size: 1em;
    position: absolute;
    transform: translateY(-50%);
  }
  &:after{
    content :'';
    width: 1.75em;
    border-bottom: solid (2/17) * 1em #fff;
    border-top: solid (2/17) * 1em #fff;
    position: absolute;
    height: (15/17) * 1em;
    top: (11/17) * 1em;
    right: 0.5em;
  }
  &:before{
    content :'';
    width: 1.75em;
    border-bottom: solid (2/17) * 1em #fff;
    border-top: solid (2/17) * 1em #fff;
    position: absolute;
    height: (15/17) * 1em;
    top: (11/17) * 1em;
    right: 0.5em;
    margin-top: (6/17) * 1em;
  }
}
