.site{
  //background: $brand-col-6;
  background: #fff;
  color: $brand-col-1;
}
.site__header--master{
  padding: 0;
  @include x-rem(margin-bottom,1.5);
  background: $brand-col-6;
}
.site__navigation--main{
  background: $brand-col-2;
  border-bottom: none;
  //overflow: hidden;
}
.site__content{
  padding: $base-spacing-unit 0 0;
}
.site__footer-content{
  padding: 2rem 0;
  background: $brand-col-11;
  border-top: 3px solid $border-colour;
}
.site__footer{
  padding: 0 0 $base-spacing-unit 0;
  background: $brand-col-11;

  @include media-query(palm){
    // To allow for the reCAPTCHA notice
    padding-bottom: 5rem;
  }
}
.site__tel{
  @include media-query(desk){
    display:none;
  }
  font-weight: 700;
  display: block;
  text-decoration: none;
  background: #e9ece9;
  color: $brand-col-2;
  text-align: center;
  @include x-rem(padding-top, 0.75);
  @include x-rem(padding-bottom, 0.75);

  .header--master__tel__call{
    display: inline;
    height: 23px;
    position: relative;
    top: 5px;
    width: 19px;
    fill: $brand-col-2;

  }

}

.site__below-content {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .content__widget-area--below {
    border-top: none;
    border-bottom: none;
    .widget-area{
      display: flex;
      flex-direction: column;
      .menu--payment-plan{
        order: -1;
      }
      @include media-query(desk){
        display: block;
      }
    }
  }

  .menu {
    margin-left: -2.2rem;
    margin-right: -2.2rem;
  }
}
