.site-title{
  display:block;
  line-height: 0;
  margin-left: $base-spacing-unit;

  @include media-query(desk){
    margin-top: 1.5em;
  }
}
@media (min-width: 1024px) {
  .site-title{
    margin-left: 0;

  }

}
.site-title__icon--mobile{
  width:164px;
  height:53px;
  @include media-query(desk){
    display:none !important;
  }
}

.site-title__icon--desk{
  width: 212px;
  height: 71px;
  display: none !important;
  @include media-query(desk){
    display:block !important;
  }
}
